

body
{
    background-color:whitesmoke
}

#aboutme
{
    font-style: italic;
}

.portfolio-header
{
    font-style: oblique;
}

.skills table,td,tr,th
{
    
    border: 1px solid black;
    padding: 10px;
    border-collapse: collapse;
}   

marquee h2
{
    font-style: italic;
    color: blueviolet
}

